@import '../../variables.scss';

.details_container {
  background-color: $white-color;
  box-shadow: 0 1px 2px 0 $shadow-color;
  margin: 4em auto;
  overflow: hidden;
  padding: 16px;

  &__info {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1024px) {
      flex-direction: row;
    }
  }

  &__info-img {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;

    .thumbnails {
      height: auto;
      overflow-y: scroll;
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;

      img {
        cursor: pointer;
        margin: 1em;
        width: 60px;
      }
    }

    img {
      width: fit-content;
    }

    @media screen and (max-width: 424px) {
      flex-direction: column-reverse;

      img {
        width: inherit;
      }
    }

    @media screen and (min-width: 425px) {
      .thumbnails {
        height: 500px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
  
        img {
          cursor: pointer;
          margin-bottom: 1em;
          width: 60px;
        }
      }
    }
  }

  &__info-detail {
    border: 1px solid $light-gray-color;
    padding: 16px;
    width: auto;

    &--condition {
      align-items: center;
      display: flex;
      margin: 32px 0 16px 0;

      span {
        margin: 0 .375em;
      }

      p {
        color: $dark-gray-color;
        font-size: 1em;
        font-weight: 400;
        white-space: pre-wrap;
        margin: 0;
      }

      b {
        align-items: center;
        display: flex;

        &::before {
          background-image: url('../../public/assets/new.png');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          content: "";
          display: flex;
          height: 30px;
          margin-right: .275em;
          width: 30px;
        }
      }
    }

    .shipping {
      p {
        align-items: center;
        display: flex;
        color: $green-color;

        b {
          margin-left: .275em;
        }

        &::before {
          background-image: url('../../public/assets/shipping.png');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          content: "";
          display: flex;
          height: 30px;
          margin-right: .275em;
          width: 30px;
        }
      }
    }

    .product-title {
      p {
        
        font-size: 1.5em;
        margin: 32px 0;
      }

      h2 {
        color: $dark-gray-color;
        font-size: 1em;
        font-weight: 600;
        line-height: 1.18;
        margin: 0;
        word-break: break-word;
      }
    }

    .buy-button {
      margin-right: 0;

      button {
        background-color: $blue-color;
        border-color: transparent;
        border-radius: 6px;
        color: $white-color;
        cursor: pointer;
        font-size: 1.125em;
        font-weight: 500;
        height: 48px;
        padding: 0 24px;
        transition: .3s;
        width: 100%;

        &:hover {
          background-color: $blue-color;
        }
      }
    }

    @media screen and (min-width: 1024px) {
      min-width: 368px;
      width: fit-content;

      .button {
        margin-right: 32px;
      }

      .product-title {
        p {
          font-size: 2em;
        }
  
        h2 {
          font-size: 22px;
        }
      }
    }
  }

  &__description {
    margin-left: 0;
    margin-top: 2em;
    display: flex;
    width: 100%;
    flex-direction: column;

    p {
      font-size: 1.75em;
      font-weight: 600;
      margin: 0;
    }

    h3 {
      color: $gray-color;
      font-weight: 400;
      margin: 32px 0;
    }

    .show-description {
      background-color: $light-gray-color;
      border: 0;
      border-radius: 8px;
      cursor: pointer;
      color: $blue-color;
      font-weight: 400;
      font-size: 1em;
      margin-bottom: 32px;
      padding: .475em 2em;
      width: max-content;
    }

    @media screen and (min-width: 1024px) {
      margin-left: 32px;
      margin-top: 8em;
      width: 70%;
    }
  }
}
