//colors
$yellow-color: #ffe600;
$dark-gray-color: #333333;
$gray-color: #999999;
$light-gray-color: #eeeeee;
$black-color: #000;
$white-color: #fff;
$shadow-color: #3837371f;
$blue-color: #3483fa;
$green-color: #00A650;
