.search-paginate {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  width: 100%;

  .disabled {
    display: none;
  }

  .next, .previous {
    color: #3483fa;
    cursor: pointer;
    transition: .3s;
    padding: .5em 1em;
    &:hover {
      background-color: #eeeeee;
    }
  }

  .active {
    background-color: #eeeeee;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1em;
    padding: 1em;
    margin: 0 1em;
  }
}